.section__info {
  background-image: linear-gradient(360deg, rgb(1, 117, 117), #2cc2e7);
  border-bottom: 1px solid #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.info__title {
  color: white;
  grid-column: 1/4;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgb(44, 44, 44);
}

.info__imagem {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 350px;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 100%;
}

.info__legenda {
  color: white;
  text-align: justify;
  font-weight: 300;
}

@media (max-width: 900px) {
  .section__info {
    display: flex;
    flex-direction: column;
  }

  .info {
    justify-content: center;
  }

  .info__imagem {
    margin-right: 0;
  }
}
