.section__started {
  background-image: linear-gradient(180deg, rgb(1, 117, 117), #2cc2e7);
  border-bottom: 2px solid rgb(1, 117, 117);
  color: white;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.title__started {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.started__texto {
  font-size: 1.25rem;
}

.started__list-item {
  font-weight: 200;
  list-style: decimal;
  margin: 0.5rem 0;
}

.started__link {
  color: white;
  text-decoration: underline;
}
